

h3 {
	padding-top:20px;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body::after {
  /* dark overlay layer - visible when we fire .bnb-quick-view */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.closer {
  float: right;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  filter: alpha(opacity=20);
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: transparent;
  height: 45px;
  width: 45px;
}
.lineup-social-icons {
  text-align: right;
  padding-right: 11px;
  padding-bottom: 7px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.lineup-social-icons img {
	height:30px;
	width:30px;
}

.tickets-link {
	color:#fff;
	font-weight:700;
}
.buy-now-contain {
	position:fixed; 
	bottom:0;
	background:#a63434;
	width:100%;
	z-index:999;
}
#more-info a {
	color:#fff;
}
.title-text {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 60px;
}
.footer-sponsors li{
	display:inline-block;
	height:120px;
	width:120px;
	padding-right:10px;
}
.ticket-charity img{
	height:150px;
	width:150px;
	margin:0 auto;
}
.ticket-charity a{
	color:#fff;
	text-decoration:none;
	font-weight:700;
}
.ticket-charity p{
	max-width:80%;
	text-align:left;
	margin:0 auto;
}

#band-page {
	height:500px;
	position:relative;
}


@media only screen and (min-width: 1024px) {
  body.overlay-layer::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  pointer-events:none;
}

p {
	font-family:'source sans pro',sans-serif;
	font-size:16px;
	font-weight:400;
	opacity:0.9;
	text-align:center;
}


.add-content .bnb-item-info {
  /* class added at the end of the width animation, used to show the content */
  position: relative;
  visibility: visible;
  opacity: 1;
}
.add-content .bnb-item-info h2 {
  -webkit-animation: bnb-slide-in 0.3s;
  -moz-animation: bnb-slide-in 0.3s;
  animation: bnb-slide-in 0.3s;
}
.add-content .bnb-item-info p {
  -webkit-animation: bnb-slide-in 0.4s;
  -moz-animation: bnb-slide-in 0.4s;
  animation: bnb-slide-in 0.4s;
}
.add-content .bnb-item-info .bnb-item-action {
  -webkit-animation: bnb-slide-in 0.5s;
  -moz-animation: bnb-slide-in 0.5s;
  animation: bnb-slide-in 0.5s;
}

@-webkit-keyframes bnb-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes bnb-slide-in {
  0% {
    -moz-transform: translate3d(-40px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes bnb-slide-in {
  0% {
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    -ms-transform: translate3d(-40px, 0, 0);
    -o-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bnb-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
  transition: transform .3s 0s, visibility 0s .3s;
  z-index:9999;
}
.bnb-close::before, .bnb-close::after {
  /* close icon in css */
  position: absolute;
  top: 12px;
  left: 5px;
  display: inline-block;
  height: 4px;
  width: 20px;
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bnb-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.bnb-close::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.no-touch .bnb-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.add-content .bnb-close {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
  transition: transform .3s 0s, visibility 0s 0s;
}
.quick-view-content{
	display:none
}


.faq-container {
  margin: 0 auto;
  width:640px;
  max-width:100%;
  padding:10px;
  text-align:left;
}
.faq-container p {
	text-align:left;
}

.question-item {
	width:31%;
}

.info {
  margin: 0 0 50px;
}

.info h1,
.info p {
  margin:0 0 10px;
  color:#666;
}

.info h1 {
  color:#34495e;
}

.fancy-button {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  background-color:#fff;
  padding: .714em 1em;
  -webkit-box-shadow: 0 4px 0 0 #aa3838;
  box-shadow: 0 4px 0 0 #aa3838;
  margin: 1em 0;
  cursor: pointer;
  -webkit-transition: all .01s ease;
-moz-transition: all .01s ease;
-o-transition: all .01s ease;
transition: all .01s ease;
}
.fancy-button:hover {
  top: 1px;
  -webkit-box-shadow: 0 3px 0 0 #aa3838;
  box-shadow: 0 3px 0 0 #aa3838;
  
}
.fancy-button-contain {
	width:100%;
	text-align:center;
}



#accordion h3 {
  margin:5px 0 0;
  padding:15px;
  font-size:24px;
  font-weight:700;
  font-family:'source sans pro',sans-serif;
  color:#000;
  outline: 0;
  cursor:pointer;
  
}

#accordion div {
  position:relative;
  margin:0 0 0;
  padding:15px;
  color:#fff;
  background:#aa3838;
}

#accordion div:after {
position: absolute;
top: -14px;
left: 25px;
display: block;
width: 0;
height: 0;
margin-left: -7px;
border-width: 7px;
border-style: solid;
border-color: transparent transparent  #aa3838  transparent;
content: '';
}

#tabs ul  {
  margin:0;
  padding:0;
}

#tabs ul li {
  margin:0 1px 15px 0;
  display:block;
  float:left;
  list-style:none;
}

#tabs ul li a {
  margin:0 0 0;
  padding:15px;
  font-size:24px;
  font-weight:normal;
  color:#fff;
  background:#e74c3c;
  outline: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	background:#34495e !important;
}

#tabs div {
  display:inline-block;
  margin:0 0 0;
  padding:15px;
  color:#fff;
  background:#34495e;
}


body .ui-tooltip {
	border-width: 2px;
}

.navigation-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
@media only screen and (min-width: 768px) {
  main {
    padding: 250px 10%;
  }
  main h1 {
    font-size: 3.6rem;
  }
  main p {
    font-size: 2rem;
  }
}

.mat-btn {
	
width: 48px;
height: 48px;
background-color: white;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

.mat-btn-faq {
	
width: 48px;
height: 48px;
background-color: white;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
top: 0;
bottom: 0;
left: 0;
right: 0;
display:inline-block;
margin: 0 auto;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
}

.panel-btn {
	width:120px;
	margin:0 auto;
}
.panel-btn-faq {
	width:120px;
	margin:0 auto;
	display:inline-block; 
}
.panel-title h4{
	margin-top: 17px;
	font-size: 20px;
}

.panel-default {
border-color: #DDD;
margin-top: 6px;
text-align: left;
}

.faq-plus {
	font-size:30px;
	font-weight:900;
	
}

#tickets, #lineup-page {
	background: url(../img/bg3.jpg) top center;
}

#tickets p{
	padding-bottom:10px;
	font-size:16px;
}


#accordion h3 {
	background: url(../img/divide.jpg) bottom repeat-x;
}
.faq-title {
	display:inline-block;
}	

#lineup {
	top:100vh;
}
.band {
	height:400px;
	width:400px;
	max-width:100%;
	display:inline-block;
}
.band li{
	opacity:0.5;
}
.slipknot {
	background: url(../img/gangnam.jpg) top center;
	height:400px;
}

.bnb-items li {
	max-width:20%;
}

ul li {
	display:inline-block;
}

.mat-btn-plus {
	font-size: 30px;
font-weight: 900;
color: #C8C8C8;
margin: 0;
padding: 0 0px 0 15px;
}

.panel-collapse .collapse .in {
	background-color:#0F0!important;
}

.mat-btn-bg {
width: 40px;
height: 40px;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
cursor: pointer;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
-o-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.mat-btn-icon {
width: 40px;
height: 8px;
background-color: #C8C8C8;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.faq-btn-plus {
	font-size: 30px;
font-weight: 900;
color: #C8C8C8;
margin: 0;
padding: 0px 13px 0 15px;
}

.faq-panel-body {
	color: #777;
max-width: 60%;
text-align: justify;
margin-right: 0;
width: 88%;
right: 0;
}

.partners img {
	float:right;
}

.item:hover .item-overlay.top {
  top: 0;
}
.item:hover .item-overlay.right {
  right: 0;
  left: 0;
}
.item:hover .item-overlay.bottom {
  bottom: 0;
}
.item:hover .item-overlay.left {
  left: 0;
}
.item-overlay.top {
  top: 100%;
}
.item-overlay.right {
  right: 200%;
  left: -100%;
}
.item-overlay.bottom {
  bottom: 100%;
}
.item-overlay.left {
  left: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.item img {
  max-width: 100%;
}

.social-links a{
	display:inline-block;
}

.social-links {
	margin-top:5%;
}

.item-overlay p {
	margin:0 auto;
	text-align:left;
}

#title-well {
	width:100%;
	height:300px;
	background-color:#000;
	z-index: -1!important;
}

#title-well h1 {
	position:absolute;
	top:0;
	width:100%;
}



#more-info h3{
	padding-top:30px;
}
#more-info p{
	text-align:left;
	padding-top:12px;
}
#more-info ul {
	padding:10px;
}

#more-info ul li{
	padding-left:20px;
	padding-bottom:10px;
	font-weight:400;
	display:block;
}
.bands-section {
	text-align:center;
}


#content {
background-color:#fff;
padding-bottom:100px;
text-align:center;
}

#space {
	height:50px;
	width:100%;
}

.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(170, 56, 56, 1);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%; 
  
  -moz-transition: top 0.1s, right 0.1s, bottom 0.1s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.001s, right 0.001s, bottom 0.001s, left 0.001s;
}


.item-overlay.right {
  right: 200%;
  left: -100%;
}
.item-overlay.bottom {
  bottom: 100%;
}
.item-overlay.left {
  left: 100%;
}

.item {
position: relative;
text-align: center;
margin: 0 auto;
overflow: hidden;
display: inline-block;
max-width:90%;
margin:5px;
}
.item img {
  max-width: 100%;
}
.item-overlay p {
margin: 40% auto;
padding: 30px; 
font-family: 'interstateregular';
font-size: 35px;
}
.band {
	 background: rgba(0, 0, 0, 0.7);
}

.band-name {
position: absolute;
z-index: 1;
color: #fff;
top: 40%;
margin: 0 auto;
text-align: center;
width: 100%;
font-family: 'source sans pro';
font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

#home {
	
	z-index: 1!important;
	width: 100%;
	height: 700px;
	max-height:100%;
	display: block;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
#home img {
	margin:0 auto;
	padding:5% 0 10%;
}
.dark-overlay {
	background-color: rgba(20, 20, 20, 0.9);
	position: relative;
	width: 100%;
	height: 100%;	
}

.social-info {
	height:76px;
	background-color:#000;
}
.social-info ul{
	padding:10px 0 0 25px;
}
.social-info p {
}

footer {
	min-height:400px;
	background: url(../img/coors-mtns.jpg) center center;
	position:relative;
}

.fancy-button-contain p{
	padding-top:80px;
}

#tickets {
	color:#fff;
}

.sub {
	font-size:12px;
}


.ticket-price {
	width:30%;
	height:100%;
	background-color:#fff;
	padding-top:20px;
}
.ticket-buy {
	width:20%;
	padding-top:30px;
}


.buy-now:hover {
	background-color:#aa3838;
	height:100%;
}

.ticket1 {
	
}

.ticket2 {
	margin-right:15%;
}

.ticket3 {
	margin-left:20%;
	
}




@media only screen and (max-width: 640px) {
	.ticket1 {
	
}


.ticket-type {
	width:100%;
	height:100%;
	background-color:#fff;
	padding-top:9px;
}
.ticket-price {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 9px;
  padding-bottom:20px;
}
.holder {
	border:4px solid #000;
	text-align:center;
	margin-top:20px;
	font-size:25px;
	background-color:#000;
	color:#000;
	
}  
.holder [class*=ticket-] {
	display:block;
	min-height:30px;
	box-sizing:border-box;
	font-weight:700;
}
.buy-now {
	background-color:#000;
	height:100%;
	color:#fff;
	border-left:0;
	padding:10px;
	width:100%;
}
.sold-out {
	background-color:#fff;
	height:100%;
	color:#000;
	border-left:0;
	padding:10px;
	width:100%;
}

.band-page {
	padding-top:50px;
}

.band-bio {
	margin: 0 auto;
	text-align:center;
}
.band-bio p{
  	text-align: left;
  padding: 18px;
  font-size: 14px;
  line-height: 1.6;
  padding-right: 5px;
  padding-bottom:30px;
}
.band-links {
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
}
.band-links img{
	background-color:#000;
	display:inline-block;
	margin-right: -4px;
  	padding: 2px;
}

.ticket2 {
	margin-right:0;
}

.ticket3 {
	margin-left:0;	
}



.buy-now-btn {
	background:#000;
	color:#fff;
	text-align:center;
	padding:13px 20px 14px 20px;
	
	width:100%;
	font-weight:900;
}

#home {
	background: url(../img/m-bg.jpg) bottom left;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.m-ayron {
	background: url(../img/m-ayron.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 

.m-bullet {
	background: url(../img/m-bullet.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}  

.m-crobot {
	background: url(../img/m-crobot.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 

.m-deadman {
	background: url(../img/m-deadman.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 
.m-artist-profile {
	background: url(../img/m-artist-profile.jpg) center center;
	height:500px;
	max-height:60%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 

.m-motionless {
	background: url(../img/m-motionless.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 

.m-slipknot {
	background: url(../img/m-slipknot.jpg) top center;
	height:500px;
	max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 



#content, #tickets {
padding-bottom:100px;
}

.headliner-main {
	font-size: 55px;
  	font-weight: 700;
}

.footer-sponsors {
	text-align:center;
}

.bnb-items li {
	max-width:100%;
}
.headliner {
		background: url(../img/gangnam.jpg) top center;
		  width: 700px;
		  max-width:70%;
  		  margin: 0 auto;
  		  height: 300px;
		  max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}


#band-page .gradient label {
  margin: 0 auto;
  padding: 0;
  line-height: 1;
  width: 100%;
  color: #fff;
  z-index:1;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  height: 400px;
  max-height: 100%;
}
.venue-info {
	text-align:left;
	padding-top:150px;
}

.headliner-item {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.band {
	height:300px;
	width:500px;
	max-width:100%;
	display:inline-block;
}
#home img {
  margin: 0 auto;
  padding: 110px 0 10%;
  width: 257px;
  
}

footer p {
	  max-width: 200px;
	  height:auto;
  margin-top: 44px;
  margin-left: 36px;
  text-align: left;
  font-size: 14px;
}

.slipknot {
	background: url(../img/gangnam.jpg) top center;
	height:240px;
	max-width:100%;
	width:500px;
	margin:0 auto;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}

.lamb {
	background: url(../img/lamb.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.three {
	background: url(../img/3dg.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.crobot {
	background: url(../img/crobot.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.deadman {
	background: url(../img/deadman.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.ayron {
	background: url(../img/ayron.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.motionless {
	background: url(../img/motionless.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.bullet {
	background: url(../img/bullet.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
} 
.three {
	background: url(../img/3dg.jpg) top center;
	height:240px;
	max-width:100%;
	width:450px;
	margin:0 auto;
	border:10px #fff solid;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.headliner-slipknot {
	background: url(../img/slipknot.jpg) top center;
	height:300px;
	margin:0;
	border: 10px #fff solid;
		max-width:100%;
		max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
	
}
}

@media only screen and (min-width: 641px) {
.band {
	height:400px;
	width:400px;
	max-width:100%;
	display:inline-block;
}
.ticket2 {
	margin-right:15%;
}

.ticket3 {
	margin-left:20%;
	
}
.ticket-type {
	width:50%;
	height:100%;
	background-color:#fff;
	padding-top:12px;
}
.ticket-price {
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding-top: 12px;
}
#home, .m-ayron, .m-bullet, .m-crobot, .m-deadman, .m-motionless, .m-slipknot {
	background: transparent;
}

footer p {
	  max-width: 240px;
	  height:auto;
  margin-top: 44px;
  margin-left: 36px;
  text-align: left;
  font-size: 18px;
}

.buy-now-contain {
	position:fixed; 
	bottom:0;
}

.buy-now-btn {
	color:#fff;
	text-align:center;
	margin:21px;
	font-weight:900;
	font-size:20px;
}

.footer-sponsors {
	text-align:right;
	padding:30px 50px 0;
}
.holder {
	border:4px solid #000;
	text-align:center;
	margin-top:25px;
	height:100px;
	font-size:26px;
	background-color:#000;
	color:#000;
	
}

.holder [class*=ticket-] {
	display:block;
	float:left;
	min-height:30px;
	box-sizing:border-box;
	font-weight:700;
}
.buy-now {
	background-color:#000;
	height:100%;
	color:#fff;
	border-left:5px #000 solid;
}
.sold-out {
  background-color: #fff;
  height: 100%;
  color: #000;
  border-left: 5px #000 solid;
}
#content, #tickets {
padding-bottom:200px;
}
.bnb-items li {
	max-width:50%;
}
.venue-info {
	text-align:left;
}
.venue-info p{
	text-align:left;
}
.headliner {
		background: url(../img/gangnam.jpg) top center;
		  width: 800px;
		  max-width:90%;
  		  margin: 0 auto;
  		  height: 400px;
		  max-height:100%;
		display: block;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.band-name {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 45%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: 'source sans pro';
  font-size: 35px;
  font-weight:900;
  line-height:0.9;
  text-transform:uppercase;
}
.headliner-main {
	font-size:75px;
}
#band-page label {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 1;
  z-index: 1;
  height: 500px;
  max-height: 100%;
}

.band-page {
	padding-top:100px;
}

.band-bio {
	margin: 0 auto;
	text-align:center;
}
.band-bio p{
	 text-align: left;
  	 padding-bottom: 18px;
  	 font-size: 16px;
  	 line-height: 1.6;
     padding-right: 30px;
}
.band-links {
	margin:0 auto;
	text-align: right;
    padding: 20px 7px;
}
.band-links img{
	background-color:#000;
	display:inline-block;
	margin-right: -4px;
  	padding: 2px;
}

.item {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 400px
}
.headliner-item {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 70%;
}

.lamb {
	background: url(../img/lamb.jpg) top center;
	height:300px;
	max-width:100%;
		margin-left:-3px;
		margin-right:1px;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.three {
	background: url(../img/gangnam.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.deadman {
	background: url(../img/deadman.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.crobot {
	background: url(../img/crobot.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.bullet {
	background: url(../img/bullet.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.crobot {
	background: url(../img/crobot.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.ayron {
	background: url(../img/ayron.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.motionless {
	background: url(../img/motionless.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.three {
	background: url(../img/3dg.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.slipknot {
	background: url(../img/gangnam.jpg) top center;
	height:300px;
	max-width:100%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
.headliner-slipknot {
	background: url(../img/slipknot.jpg) top center;
	height:400px;
  		  margin: 0 auto;
		  margin-bottom:5px;
		max-width:70%;
		max-height:100%;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
}
}

.gradient {
  position: absolute;
  width:100%;
  height:100%;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.8));
  background-image: linear-gradient(transparent,rgba(0,0,0,.8));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0);
}