@font-face {
    font-family: 'interstateregular';
    src: url('../fonts/Interstate-Black-webfont.eot');
    src: url('../fonts/Interstate-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Interstate-Black-webfont.woff2') format('woff2'),
         url('../fonts/Interstate-Black-webfont.woff') format('woff'),
         url('../fonts/Interstate-Black-webfont.ttf') format('truetype'),
         url('../fonts/Interstate-Black-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hero-info-type {
	  width: 100%;
  	  display: block;
}




*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size:12px;
  color: rgba(2, 23, 37, 0.7);
  background-color: white;
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}


img {pointer-events:none;}

.background-wrapper {
  background-color: #001426;
  position: relative;
  overflow: hidden;
}
.no-touch .background-wrapper {
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  perspective: 4000px;
 
}
.background-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'web';
  display: none;
}
.touch .background-wrapper::before {
  /* never visible - this is used in jQuery to check the device type */
  content: 'mobile';
}

.floating-background {
  position: relative;
}
.floating-background img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
}
.floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.no-touch .floating-background {
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.no-touch .floating-background.is-absolute {
  position: absolute;
}
.no-touch .floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}
.no-touch .floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -moz-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  -o-transform: translateZ(290px);
  transform: translateZ(290px);
  height: 600px;
  width: 168px;
  margin: 75px auto;
  right: -600px;
}

.no-touch .floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -moz-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  -o-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-touch.no-preserve-3d .floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

.band-bio h1 {
	font-family:'interstateregular', sans-serif;
}
.band-bio p {
	font-family:'proxima_nova_rgregular', sans-serif;
	color:#333;
}

.hero-info, #single-interview {
	position:absolute;
	top:0;
	z-index:1;
	top:20%;
	left:10%;
	font-size:2em;
	font-family:'interstateregular';
}
.hero-info h1{
	font-size:1.8em;
	color:#000;
	 float: left;
  	width: 100%;
	margin-top:0;
}
.hero-info p:first-of-type {
	padding-bottom:5px;
	margin:0;
}

.hero-info p {
	padding: 0px 0;
max-width: 60%;
font-family: 'proxima_nova_rgregular', helvetica;
font-size: 18px;
line-height: 1.4;
color: #000;
}

.hero-info p small{
	padding:0;
	margin:0;
	letter-spacing:-1px;
    font-size:15px;
}

.block {
		display:block;
		
	}


.interview-thumb:hover {
transform: scale(0.9);
}

.interview-item {
	border: 10px solid transparent;
}

.interview-item img {
	max-width:100%;
}

label {
	display: inline-block;
width: 100%;
top: 48%;
margin-top: -15px;
font-weight: bold;
z-index: 4;
position: absolute;
margin: 0 auto;
text-align: center;
}

.interview-item-preview {
	opacity:0.7;
	color:#FFF;
}

.interview-item-preview:hover {
	opacity:1;
	color:#000;
}


#single-interview p {
  font-size:1.1em;
  font-family: helvetica;
}

#hero-mobile {
	max-height:800px;
	background:url(../img/coors-mtns.jpg) top center;
	height: 100%;
  	width: 100%;
	position: absolute;
}
#hero-mobile img:first-of-type {
	max-width:100%;
}

#interviews {
	margin:0 auto;
	text-align:center;
	z-index: 3;
	background-color: #000;
	position: relative;
	padding-bottom:150px;
} 
#interviews p {
	color:#fff;
	padding:0;
	margin:0;
	padding-bottom:60px;
	line-height:1.5;
	margin:0 auto;
	max-width:80%;
	opacity:0.3;
}



.item:hover .item-overlay.top {
  display:none;
  color:rgba(255, 255, 255, 1);
}

.item:hover .item-overlay.right {
  right: 0;
  left: 0;
}
.item:hover .item-overlay.bottom {
  bottom: 0;
}
.item:hover .item-overlay.left {
  left: 0;
}


.item-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%; 
  
  -moz-transition: top 0.1s, right 0.1s, bottom 0.1s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.001s, right 0.001s, bottom 0.001s, left 0.001s;
}


.item-overlay.right {
  right: 200%;
  left: -100%;
}
.item-overlay.bottom {
  bottom: 100%;
}
.item-overlay.left {
  left: 100%;
}


.item {
position: relative;
text-align: center;
margin: 0 auto;
overflow: hidden;
margin-bottom:1px;
display: inline-block;
max-width:90%;
color:rgba(255, 255, 255, 1);
}
.item:hover {
color:rgba(255, 255, 255, 1);
}

.item img {
  max-width: 100%;
}
.item-overlay p {
margin: 40% auto;
padding: 30px; 
font-family: 'interstateregular';
font-size: 35px;
}
.band {
	 background: rgba(0, 0, 0, 0.7);
}

.band-name {
position: absolute;
z-index: 999;
top: 45%;
margin: 0 auto;
text-align: center;
width: 100%;
font-family: 'interstateregular';
font-size: 22px;
letter-spacing:1px;
}

.pop-popup {
  position: fixed;
  z-index:99999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
   background-color: rgba(0, 0, 0, 0.85); opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.pop-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.pop-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);

}
.pop-popup-container p {
  padding: 3em 1em;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.pop-popup-container .pop-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.pop-popup-container .pop-buttons li {
  float: left;
  width: 50%;
}
.pop-popup-container .pop-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size:18px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.pop-popup-container .pop-buttons li:first-child a {
  background: #fa201e;
  border-radius: 0 0 0 .25em;
}
.no-touch .pop-popup-container .pop-buttons li:first-child a:hover {
  opacity:0.9;
}
.pop-popup-container .pop-buttons li:last-child a {
  background: #C7C3C3;
  border-radius: 0 0 .25em 0;
}
.no-touch .pop-popup-container .pop-buttons li:last-child a:hover {
  opacity:0.9
}
.pop-popup-container .pop-popup-close {

}
.is-visible .pop-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .pop-popup-container {
    margin: 8em auto;
  }
}




@media (max-width: 480px) {
#hero-mobile img:last-of-type {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 2%;
  width: 140px;
}
}
@media (min-width: 481px) {
#hero-mobile img:last-of-type {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 8%;
	width: 160px;
}
}


@media (max-width: 640px) {

.hero-info h1 {
			font-size: 1.2em;
			line-height: 0.9;
			text-align: left;		
			padding: 0 0 10px;;
}
.hero-info h2, .nav-trigger2 h2 {
  font-size: 12px;
  font-family: 'interstateregular';
  float: left;
  text-align: left;
  padding: 0;
  margin-top: 20px;
  padding-top: 10px;
  color: #fa201e;
  border: 2px solid;
  padding: 15px;
}
.hero-info p {
	padding: 0px 0;
	max-width: 60%;
	font-family: 'proxima_nova_rgregular', helvetica;
	font-size: 12px;
	line-height: 1.3;
	color: #000;
	text-align:left;
}
.hero-info, #single-interview {
	left:6%;
}
#interviews h1 {
	color:#fff;
	font-family:'interstateregular';
	text-align:center;
	padding:100px 0 10px;
	font-size:32px;
	line-height:0.9;
}
#interviews p {
	font-size:13px;
}
.cam {
	background:url(../img/cam.jpg) top center;
	height: 200px;
  	width: 400px;
}
.drake {
	background:url(../img/drake.jpg) top center;
	height: 200px;
  	width: 400px;
}
.waterloo {
	background:url(../img/waterloo-main.jpg) top center;
	height: 200px;
  	width: 400px;
}
}

@media (min-width:641px) {
.cam {
	background:url(../img/cam.jpg) top center no-repeat;
	height:220px;
	width:100%;
}
.drake {
	background:url(../img/drake.jpg) top center no-repeat;
	height:220px;
	width:400px;
}
.waterloo {
	background:url(../img/waterloo-main.jpg) top center no-repeat;
	height: 220px;
  	width: 400px;
}

	.lightbox .content {
			padding: 75px 0 0 0px;
}
	 .hero-info h1 {
			font-size: 1.2em;
			line-height: 0.9;
			text-align: left;
			
			padding-top: 0;
}
	.hero-info p {
			padding: 0px 0;
			max-width: 60%;
			font-family: 'proxima_nova_rgregular', helvetica;
			font-size: 12px;
			line-height: 1.4;
			color: #000;
			text-align: left;
			float: left;
			
}
	.block {
		display:block;
		
	}
	#hero-mobile img:last-of-type {
	position: absolute;
	z-index: 1;
	top: 12%;
	right:8%;
}	
	.hero-info h2, .nav-trigger2 h2 {
	font-size:0.5em;
	font-family:'interstateregular';
	float:left;
	padding:15px;
	border:2px solid;
	text-align:left;
	margin:0;
	background-color:transparent;
	color:#fa201e;
}
	.hero-info h2:hover, .nav-trigger2 h2{
	border:2px solid #fa201e;
	background-color:#fa201e;
	color:#fff;
}

.item {
	width: 40%;
}

	.lightbox .content {
			padding: 75px 0 0 0px;
}
	 .hero-info h1 {
			font-size: 1.4em;
			line-height: 0.9;
			text-align: left;
			padding:0 0 10px;
}
	.hero-info p {
			padding: 0px 0;
			max-width: 60%;
			font-family: 'proxima_nova_rgregular', helvetica;
			font-size: 15px;
			line-height: 1.4;
			color: #000;
			text-align: left;
			float: left;
			
}
	.block {
		display:block;
		
	}
	#hero-mobile img:last-of-type {
	position: absolute;
	z-index: 1;
	top: 12%;
	right:8%;
}	
	
.item {
	width: 40%;
}
.hero-info h2, .nav-trigger2 h2{
font-family: inherit;
float: left;
font-size:12px;
text-align: left;
padding:10px;
margin: 0;
color: #fa201e;
  margin-top: 15px;
  background: transparent;
}
#interviews h1 {
	color:#000;
	font-family:'interstateregular';
	text-align:center;
	padding:40px 0 10px;
	font-size:36px;
	line-height:0.9;
}
	
}
@media (min-width:768px) {
	.hero-info h1 {
			font-size: 1.6em;
			line-height: 0.9;
			text-align: left;
			padding-left: 0;
			padding-top: 0;
}

	.hero-info p {
			padding: 0px 0;
			max-width: 60%;
			font-family: 'proxima_nova_rgregular', helvetica;
			font-size: 15px;
			line-height: 1.4;
			color: #000;
			text-align: left;
			float: left;
			padding-left: 0;
}	
	.block {
		display:block;
		
	}
	#hero-mobile img:last-of-type {
		position: absolute;
		z-index: 1;
		top: 10%;
		right: 8%;
}	
	.hero-info h2 {
  		float: left;
  		font: inherit;
  		font-size: 16px;
  		padding: 20px 14px;
  		text-align: left;
  		font-weight: 500;
 		 margin-top:20px;
  		background-color: transparent;
  		color: #fa201e;
}
.item {
	width: 48%;
}
#interviews h1 {
	color:#fff;
	font-family:'interstateregular';
	text-align:center;
	padding:125px 0 10px;
	font-size:60px;
	line-height:0.9;
}
}
@media (min-width:990px) {
	
.hero-info h1{
	font-size:1.8em;
	color:#000;
}

.hero-info p {
	padding: 0px 0;
max-width: 60%;
font-family: 'proxima_nova_rgregular', helvetica;
font-size: 15px;
line-height: 1.4;
color: #000;
}

.block {
		display:block;
		
	}
.item {
	width: 31%;
}	
}
@media (min-width:1100px) {
	.block {
		display:inline;
		
	}
}

#footer {
	background-color:#fff;
	position:fixed;
	z-index:1;
	bottom:0;
	width:100%;
	padding: 7px 0;
	border-top: 1px solid #c7c7c7;
}
#footer p, #footer a{
	display:inline;
	color:#666;
}

#footer img:first-of-type {
	margin-left:20px;
}
#footer img {
	display:inline;
	padding:5px;
	height:40px;
	width:auto;
}






.nav-trigger {
  position: fixed;
  z-index: 9991;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #000;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.nav-trigger .nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}
.nav-trigger .nav-icon::before, .nav-trigger .nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}
.nav-trigger .nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.nav-trigger .nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .nav-trigger:hover .nav-icon::after {
  top: 2px;
}
.no-touch .nav-trigger:hover .nav-icon::before {
  top: -2px;
}
.nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation-is-open .nav-trigger .nav-icon::after,
.navigation-is-open .nav-trigger .nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
 
}
.navigation-is-open .nav-trigger .nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-is-open .nav-trigger .nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .navigation-is-open .nav-trigger:hover .nav-icon::after, .no-touch .navigation-is-open .nav-trigger:hover .nav-icon::before {
  top: 0;
}
.navigation-is-open .nav-trigger circle {
  stroke-dashoffset: 0;
  
}
@media only screen and (min-width: 1170px) {
  .nav-trigger {
    top: 40px;
  }
}

.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#000;
  visibility: hidden;

}
.nav .navigation-wrapper {
  /* all navigation content */
  height: 100%;
  text-align:center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
 
}
.navigation-is-open .nav {
  visibility: visible;

}
.navigation-is-open .nav .navigation-wrapper {
  
}
.nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #080b0f;
  text-transform: uppercase;
}
.nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}
.nav .primary-nav {
  margin-top: 60px;
}

.nav .primary-nav a {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
}
.nav .primary-nav a.selected {
  color: #ffffff;
}
.no-touch .nav .primary-nav a:hover {
  color: #ffffff;
}
.nav .contact-info {
  margin-top: 80px;
}
.nav .contact-info li {
  font-family: "Merriweather", serif;
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3);
}
.nav .contact-info a {
  color: #ffffff;
}
.nav .contact-info span {
  display: block;
}
.nav .contact-info li, .nav .contact-info a, .nav .contact-info span {
  font-size: 1.6rem;
}
@media only screen and (min-width: 1170px) {
  .nav .navigation-wrapper {
    
  }
  .nav .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .nav .half-block {
    width: 50%;
    float: left;
  }
  .nav .primary-nav {
    margin-top: 0;
  }
  .nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em;
  }
  
  .nav .primary-nav a {
    font-size: 4.4rem;
  }
  .nav .contact-info {
    margin-top: 120px;
    text-align: right;
  }
  .nav .contact-info li {
    margin-bottom: 2.4em;
  }
  .nav .contact-info li, .nav .contact-info a, .nav .contact-info span {
    font-size: 2rem;
  }
}

.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .nav {
  position: static;
  visibility: visible;
}
.no-js .nav .navigation-wrapper {
  height: auto;
  overflow: visible;
    -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.container {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

.header {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.96);
  height: 50px;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 768px) {
	.header {width:100%; position:fixed;}
	#footer p {display:none;}
}
@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
	width:80px;
	right:0;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .header.menu-is-open {
   
  }
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .logo {
    left: 2.6em;
  }
}

.secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.secondary-nav li {
  display: inline-block;

}
.secondary-nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .secondary-nav {
    display: block;
  }
}

.primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #fa201e;
  
}
.primary-nav-trigger .menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.primary-nav-trigger .menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: white;
 
  /* these are the upper and lower lines in the menu icon */
}
.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.primary-nav-trigger .menu-icon::before {
  top: -5px;
}
.primary-nav-trigger .menu-icon::after {
  top: 5px;
}
.primary-nav-trigger .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.primary-nav-trigger .menu-icon.is-clicked::before, .primary-nav-trigger .menu-icon.is-clicked::after {
  background-color: white;
}
.primary-nav-trigger .menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.primary-nav-trigger .menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .primary-nav-trigger {
  width: 100px;
  padding-left: 1em;
  height: 39px;
  right: 2.2em;
  background-color: #fa201e;
  padding: 20px 0 0 13px;
  top: 50%;
  font-size: 15px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}
  .primary-nav-trigger .menu-text {
    display: inline-block;
  }
  .primary-nav-trigger .menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 2;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.primary-nav li {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: capitalize;
}
.primary-nav a {
  display: inline-block;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.primary-nav .label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
}
.primary-nav .social {
  display: inline-block;
}

.primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}


.intro {
  position: relative;
  height: 100%;
  background: url("../img/background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}


.main-content {
  position: relative;
  z-index: 1;
}
.main-content p {
  line-height: 1.6;

}



.img_block img {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity:0.6;
}
nav ul li{
  float: left;
  width: 200px;
  overflow: hidden;
}
.band-item {
	position:relative;
}


.band-desc {
  position: absolute;
  z-index: 11150;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.band-title {
    position: relative;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 900;
}






@media (max-width: 480px) {
	.band-item {width:50%;}
	.img_block {
  		width: 250px;
 		height: 190px;
	}
	.img_block img {
  			width: 250px;
  			height: 250px;
	}
	.primary-nav {
		padding-top:50px;
	}
	#footer {
	padding: 2px 0;
	}
	#footer p {
	display:none;
	}
	.band-links li {
	  		margin-top:20px;
			margin-right:-4px;
	  }
	 .embed-container { 
			position: relative; 
			padding-bottom: 50.25%; 
			height: 0; 
			overflow: hidden; 
			max-width: 640px;
			width:100%; 
			float:right;
} 
	.embed-container iframe, .embed-container object, .embed-container embed { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
	} 
	.band-bio h1 {
		  padding: 35px 0 15px 20px;
  		  font-size: 24px;
  		  font-weight: 900;
          text-align: left;
          color: #000;
	} 
}


@media (min-width: 481px) {
	.band-item {width:50%;}
	.img_block {
  		width: 340px;
 		height: 240px;
	}
	.img_block img {
  			width: 340px;
  			height: 340px;
	}
	.primary-nav {
		padding-top:50px;
	}
	#footer p {
		float: right;
  		padding: 18px 33px 0;
	}
	.band-links li {
	  		margin-top:20px;
			margin-right:-4px;
	  }
	  .embed-container { 
			position: relative; 
			padding-bottom: 50.25%; 
			height: 0; 
			overflow: hidden; 
			max-width: 640px;
			width:100%; 
			margin:0 auto;
} 
	.embed-container iframe, .embed-container object, .embed-container embed { 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
	} 
	.band-bio h1 {
		padding: 15px 0 20px 20px;
  		font-size: 30px;
  		font-weight: 900;
  		text-align: left;
  		color: #000;
  		line-height: 1.1;
	} 
}

@media (min-width: 641px) {
	.band-item {width:33.33%;}
	.img_block {
  		width: 270px;
 		height: 220px;
	}
	.img_block img {
  			width: 270px;
  			height: 270px;
	}
	.primary-nav {
		padding-top:50px;
	}
	.band-links {
		width:100%;
		display:block;
		text-align:center;
	}
	.band-bio h1 {
		padding: 15px 0 30px;
  		font-size: 28px;
  		font-weight: 900;
  		text-align: left;
  		color: #000;
	} 
	
}


@media (min-width: 768px) {
	.band-item {width:25%;}
	.img_block {
  		width: 270px;
 		height: 200px;
	}
	.img_block img {
  			width: 270px;
  			height: 270px;
	}
	.primary-nav {
		padding-top:0;
	}
	nav ul li:hover img {
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-o-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1); 
					opacity:1;
	}
	.band-links {
		margin-right:1px;
		text-align:right
	}
	.band-links li {
	  		margin-top:0;
	  }
	 .band-bio h1 {
		padding: 15px 0 20px;
  		font-size: 34px;
  		font-weight: 900;
  		text-align: left;
  		color: #000;
	} 
	.embed-container {
  			position: relative;
  			padding-bottom: 50.25%;
  			height: 0;
  			overflow: hidden;
  			max-width: 640px;
  			width: 100%;
  			float: right;
	}  
}



@media (min-width: 1000px) {
	.band-item {width:20%;}
	.img_block {
  		width: 260px;
  		height: 200px;
	}
	.img_block img {
  			width: 270px;
  			height: 270px;
	}
	#footer p {
		display:inline;
	}
	.band-links li {
	  		padding:0;
			margin-right:-3px;
	  }
}


@media (min-width: 1240px) {
	.band-item {width:20%;}
	.img_block {
		  width: 270px;
  		  height: 240px;
      }
	.img_block img {
  			width: 270px;
  			height: 270px;
      }  
	  .band-links {
	  		padding:0;
	  }
	  .band-links li{
	  		padding:0;
			margin-right:4px;
	  }
}


